@mixin header-btn() {
  cursor: pointer;
  span {
    display: block;
    position: relative;
    font-size: 1rem;
    font-weight: 500;

    &:before {
      content: attr(data-icon);
      font-family: 'SKY-Icon';
      font-size: 1.4rem;
      margin-right: 6px;
      vertical-align: -2px;
      font-weight: normal;
    }
  }
}

@mixin loading-shimmer() {
  background: linear-gradient(#e7edf1 0%, #f8f8f8 50%, #e7edf1 100%) !important;
  border: none !important;
  -webkit-animation: pulse 0.65s infinite alternate;
  animation: pulse 0.65s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
