@mixin header-btn() {
  cursor: pointer;
  span {
    display: block;
    position: relative;
    font-size: 1rem;
    font-weight: 500;

    &:before {
      content: attr(data-icon);
      font-family: 'SKY-Icon';
      font-size: 1.4rem;
      margin-right: 6px;
      vertical-align: -2px;
      font-weight: normal;
    }
  }
}
