$fonts-path: '../../src/assets/fonts';

$main-color: #f35c58;
$light-gray: #f1f2fa;

$background-color: #fafaff;
$background-header: $light-gray;
$background-footer: $light-gray;
$border-header: #d3d3d8;
$border-footer: #d3d3d8;

$text-color: #606064;

$color-shadow: #b1afaf;

//Theme dark colors
$dark-backgroundg-color: #1b2021;
$dark-text-color: #fff;
$dark-backgroundg-header: #32383a;
$dark-backgroundg-nav: #32383a;
$dark-backgroundg-footer: #32383a;
$dark-backgroundg-footer-bottom: #1b2021;

//Image path
$images-path: '../../src/assets/images';
