header {
  background: $background-header;
  border-bottom: 1px solid $border-header;

  .header-wrapper {
    padding: 12px 0;
    display: flex;
    align-items: center;

    .header-logo {
      width: 90px;
      height: 40px;

      a {
        display: block;
        height: 100%;
        text-indent: -2000px;
        background: url($main-logo) no-repeat center;
      }
    }

    .header-accessibilities {
      padding: 0 40px;

      button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: #fafaff;
        margin: 0 8px;
        cursor: pointer;

        &:before {
          content: attr(data-icon);
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'SKY-Icon';
          color: $text-color;
          font-size: 1.4rem;
        }
      }
    }

    .btn-header-play {
      flex: 1;
      @include header-btn();
    }

    .header-right-group {
      display: flex;
      .btn-header-signIn {
        padding: 0 20px;
        @include header-btn();
      }

      .btn-header-search {
        @include header-btn();
      }
    }

    .btn-header-menu {
      @include header-btn();
    }

    .btn-header-menu {
      display: none;
      span {
        width: 22px;
        height: 3px;
        background: $text-color;
        display: block;

        & + span {
          margin-top: 4px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .header-wrapper {
      justify-content: space-between;
      padding: 10px 15px;

      .header-accessibilities,
      .btn-header-play,
      .btn-header-signIn,
      .btn-header-search {
        display: none;
      }

      .btn-header-menu {
        display: block;
      }
    }
  }
}
