header {
  background: $background-header;
  border-bottom: 1px solid $border-header;

  .header-wrapper {
    padding: 12px 0;
    display: flex;
    align-items: center;

    .header-logo {
      width: 90px;
      height: 40px;

      a {
        display: block;
        height: 100%;

        text-indent: -2000px;
        background: url($images-path + '/logo-sky.svg') no-repeat center;
      }
    }

    .header-accessibilities {
      padding: 0 40px;

      button {
        cursor: pointer;
        width: 30px;
        height: 30px;

        border: none;
        border-radius: 50%;
        background-color: #fafaff;
        margin: 0 8px;
        transition: all 0.5s;

        &:before {
          display: flex;
          justify-content: center;
          align-items: center;

          font-family: 'SKY-Icon';
          font-size: 1.4rem;
          color: $text-color;

          content: attr(data-icon);
        }

        &:hover {
          background-color: $text-color;
          &:before {
            color: $main-color;
          }
        }
      }
    }

    .btn-header-play {
      flex: 1;
      @include header-btn();
    }

    .btn-header-signIn {
      padding: 0 20px;
      @include header-btn();
    }

    .btn-header-search {
      @include header-btn();
    }

    .btn-header-menu {
      @include header-btn();
    }

    .btn-header-menu {
      display: none;
      span {
        display: block;

        width: 22px;
        height: 3px;

        background: $text-color;

        & + span {
          margin-top: 4px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .header-wrapper {
      justify-content: space-between;
      padding: 10px 15px;

      .header-accessibilities,
      .btn-header-play,
      .btn-header-signIn,
      .btn-header-search {
        display: none;
      }

      .btn-header-menu {
        display: block;
      }
    }
  }
}
