.movies-list-carousel {
  padding: 30px 0;

  .movies-carousel > .slick-list > .slick-track {
    margin-left: 0;
  }

  .movies-header-title {
    font-size: 1.42rem;
    font-weight: bold;

    margin-bottom: 15px;
    margin-left: 15px;
  }

  .movies-carousel {
    &.reset-animation {
      transform: rotate(90deg);
    }
    .slick-list {
      padding: 10px 10% 10px 15px;

      .slick-track {
        display: flex;
      }
    }

    .item {
      display: flex;
      justify-content: center;

      outline: none;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.06);
      }

      & + .item {
        margin-left: 15px;
      }

      &.blocked {
        .movie-img::before {
          content: '\e94A';
        }
      }

      .movie-img {
        position: relative;
        width: 100%;

        border-radius: 5px;
        overflow: hidden;

        &::before {
          position: absolute;
          width: 20px;
          height: 20px;

          top: 3px;
          right: 3px;

          font-family: 'SKY-Icon';
          font-size: 18px;
          text-align: center;
          color: #fff;

          background: rgba(0, 0, 0, 0.6);

          border: 2px solid #fff;
          border-radius: 50%;
          padding: 3px;

          content: '\e95E';
        }

        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;

      width: 45px;
      height: 80px;

      color: transparent;
      background-color: $text-color;
      outline: none;
      border: none;
      opacity: 0;

      transform: translateY(-50%);
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;

      z-index: 2;
      cursor: pointer;

      &.slick-disabled {
        opacity: 0;
      }

      &:before {
        position: absolute;
        top: 50%;

        font-family: 'SKY-Icon';
        font-size: 25px;
        color: #fff;

        transform: translateY(-50%);
      }
    }

    .slick-prev {
      left: -10px;

      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;

      &:before {
        content: '\e918';
      }
    }

    .slick-next {
      right: -11px;

      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;

      &:before {
        content: '\e91A';
      }
    }
  }

  @media (min-width: 768px) {
    .movies-header-title {
      margin-left: 5%;
    }

    .movies-carousel {
      &:hover {
        .slick-prev,
        .slick-next {
          opacity: 1;

          &.slick-disabled {
            opacity: 0.3;
          }
        }
      }

      .slick-list {
        padding: 10px 10px 10px 5%;

        .slick-track {
          .slick-slide {
            height: inherit !important;
          }
        }
      }
    }
  }
}
