nav {
  box-shadow: 0 2px 7px -2px $color-shadow;
  background: $background-color;

  ul {
    display: flex;

    li {
      flex: 1;
      text-align: center;

      border-bottom: 4px solid transparent;

      &.active {
        color: $main-color;
        border-color: $main-color;
      }

      a {
        display: block;

        padding: 15px;

        font-size: 1.12rem;
        font-weight: 500;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
